# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "7acf436c6fdfa7fa395085950a771c8d"
name = "noticebar-countdown"
application_url = "https://noticebar-countdown-hkrn.onrender.com/app"
embedded = true

[build]
automatically_update_urls_on_dev = false

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
  "https://noticebar-countdown-hkrn.onrender.com/api/auth/callback",
  "https://noticebar-countdown-hkrn.onrender.com/api/auth",
  "https://noticebar-countdown-hkrn.onrender.com/auth/callback"
]
